/*
 * style.less
 */

@import "tmlib.less";
@import "reset.less";
@import "variables.less";



/*
 * main column
 */
.single{
  .content{
    h1{
      font-weight: normal;
      #tm .font-size(24);
    }
    h2{
      #tm .font-size(16);
    }
    h3{
      #tm .font-size(14);
    }
    .page-header{
      margin: 20px 0;
      h1{
        margin: 0;
      }
    }
    .meta-box{
      margin-bottom: 20px;
      .socialcount{
        float: right;
      }
    }
    .code-box{
      width: 465px;
      margin: 0 auto;
    }
    .tab-pane{
      .table{
        th, td{
          border: none;
        }
      }
    }
    // comment
    .comment-box{
      margin-top: 20px;
      .comment{
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid #EEE;
        &:first-children{
          border-top: none;
        }
        .comment-img{
          margin-right: 15px;
        }
      }
      .children{
        list-style: none;
        background-color: #FFF;
        padding: 10px;
        margin-top: 15px;
        border-radius: 4px;
        li{
          &:first-child{
            border-top: 0;
            padding-top: 0;
            margin-top: 0;
          }
          .children{
            border-top: 1px solid #EEE;
          }
          .comment-img{
            img{
              width: 32px;
              height: 32px;
            }
          }
        }
      }
      .form-horizontal{
        background-color: #FFF;
        border: 1px solid #EEE;
        border-radius: 4px;
        padding: 15px;
        margin-top: 20px;
        #respond{
          code{
            #tm .autoFoldingBack();
          }
        }
      }
    }
  }
  .sidebar{
    margin-top: 30px;
    h2{
      #tm .font-size(15);
      line-height: 1.5;
      margin-top: 0;
    }
    ul{
      li{
        &.unactive{
          #tm .unactive();
        }
      }
    }
  }
}

.preview {
  .code-box {
//    margin-top: -50px;
//    margin-bottom: -50px;
    text-align: center;
  }
  iframe {
    border: 0px;
//    -webkit-transform: scale(0.75);
  }
}
