/*
 * style.less
 */

@import "tmlib.less";
@import "normalize.less";
@import "variables.less";


/*
 * constant
 */
@page-width: 960px;
@single-width: 960px;


/*
 * base
 */
* {
  margin: 0px;
  padding: 0px;

  #tm .box-sizing(border-box);
}

html{
  font-size: @font-size;
}
body {
  background-color: #FFF;

  font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.5em;
  font-size: 1.5em;
  color: #333;
  a {
    text-decoration: none;
    color: hsl(220, 100%, 50%);
    &:visited {
      color: hsl(260, 90%, 50%);
    }
    &:hover{
    }
  }
}

/*
 * header
 */
#header{
  height: 55px;
  background-color: #333;
  padding: 0px;
  position: relative;
  .header_content{
    width: @page-width;
    margin: 0 auto;
    hgroup{
      color: @header-font-color;
      text-align: center;
      float: left;
      h1{
        font-size: 1.8em;
        margin-top: 10px;
        a{
          color: @header-link-color;
        }
      }
      h2{
        color: @header-link-color;
        font-size: 0.7em;
      }
    }
    nav{
      float: right;
      ul{
        li{
          display: block;
          float: left;
          border-right: 1px solid #EEE;
          margin-right: 20px;
          padding-right: 20px;
          &:first-child{
            border-left: 1px solid #EEE;
            padding-left: 20px;
          }
          &:last-child{
            margin-right: 0px;
          }
          a{
            color: @header-link-color;
            height: 55px;
            line-height: 55px;
          }
        }
      }
    }
  }
}

/*
 * contents
 */
#contents{
  width: @page-width;
  margin: 0 auto;
  padding: 50px 0;
}

/*
 * footer
 */
#footer{
  width: @page-width;
  margin:  0 auto;
  padding: 10px;
  border-top: 1px solid @border-color;
  //background-color: @footer-background-color;
  text-align: center;
  .footer_nav{
    ul{
      li{
        display: inline;
        margin-right: 15px;
        #tm .font-size(13);
        a{
          color: @footer-link-color;
        }
      }
    }
  }
  address{
    #tm .font-size(10);
    //color: @footer-font-color;
  }
}

/* home */
.home{
  #contents{
  /* main blanding */
    .blanding{
      margin-bottom: 100px;
      section{
        width: 30%;
        float: right;
        .button{
          text-align: center;
          width: 100px;
          height: 50px;
          line-height: 50px;
          background-color: #555;
          color: #FFF;
          display: block;
        }
      }
      .image{
        float: left;
        width: 60%;
        height: 300px;
        background-color: #EEE;
      }
    }
  /* about list */
    .about_list{
      width: 100%;
      section{
        width: 30%;
        float: left;
        margin-right: 4.5%;
        &:last-child{
          margin-right: 0;
        }
        h2{
          #tm .font-size(20);
          margin-bottom: 20px;
          color: #444;
        }
      }
    }
  }
}

/* single  */
.single{
  #contents{
    width: @single-width;
    .main_content{
    /* sinle content */
      .entry{
        padding: 0px 0px 50px 0px;
        .post_header{
          .post_title{
            margin-bottom: 25px;
          }
        }
        .content{
          float: left;
          width: 480px;
        }
        .code_box{
          float: right;
          width: 465px;
        }
      }

    /* single post navigation */
      .lesson_nav{
        .single_nav{
          ul{
            .prev_post{
              float: left;
            }
            .next_post{
              float: right;
            }
          }
        }
        .list_nav{
          width: 100%;
          margin: 0 auto;
          dl{
            float: left;
            width: 33.33%;
            text-align: center;
            dt{
              background-color: #333;
              border-right: 1px solid #999;
              color: #EEE;
            }
            dd{
              border-bottom: 1px solid #EEE;
              border-right: 1px solid #EEE;
              padding-bottom: 3px;
              margin-bottom: 3px;
            }
            &:last-child{
              dt,dd{
                border-right: none;
              }
            }
          }
        }
      }
    }
  }
}

/* page */
.page{
  #contents{
    height: 100%;
    .main_content{
      width: 80%;
      float: right;
    }
  /* sidebar */
    aside{
      width: 15%;
      float: left;
      color: #EEE;
      background-color: @footer-background-color;
      a{
        color: @aside-link-color;
      }
    }
  }
}

/* archive */
.archive{
  #contents{
    .title{
      margin-bottom: 50px;
    }
    .main_content{
      .entry{
        padding: 0px;
        margin-bottom: 10px;
        .post_header{
          .post_title{
            #tm .font-size(15);
          }
        }
      }
    }
  }
}