/*
 * style.less
 */

@import "tmlib.less";
@import "normalize.less";
@import "variables.less";


/*
 * constant
 */
@page-width: 1100px;
@single-width: 960px;


/*
 * base
 */
* {
  margin: 0px;
  padding: 0px;

  #tm .box-sizing(border-box);
}

html{
  font-size: @font-size;
}
body {
  background-color: #FFF;

  font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.5em;
  font-size: 1.5em;

  a {
    text-decoration: none;
    color: hsl(220, 100%, 50%);
    &:visited {
      color: hsl(260, 90%, 50%);
    }
    &:hover{
    }
  }
}

/*
 * header
 */
#header{
  height: 55px;
  background-color: #333;
  padding: 0px;
  position: relative;
  .header_content{
    width: @page-width;
    margin: 0 auto;
    hgroup{
      color: @header-font-color;
      text-align: center;
      float: left;
      h1{
        font-size: 1.8em;
        margin-top: 10px;
        a{
          color: @header-link-color;
        }
      }
      h2{
        color: @header-link-color;
        font-size: 0.7em;
      }
    }
    nav{
      float: right;
      ul{
        li{
          display: block;
          float: left;
          border-right: 1px solid #EEE;
          margin-right: 20px;
          padding-right: 20px;
          &:first-child{
            border-left: 1px solid #EEE;
            padding-left: 20px;
          }
          a{
            color: @header-link-color;
            height: 55px;
            line-height: 55px;
          }
        }
      }
    }
  }
}

/*
 * contents
 */
#contents{
  width: @page-width;
  margin: 0 auto;
  padding: 50px 0;
  .entry{
    padding: 0px 0px 50px 0px;
    .post_header{
      .post_title{
        margin-bottom: 25px;
      }
    }
  }
}

/*
 * footer
 */
#footer{
  padding: 10px;
  background-color: @footer-background-color;
  text-align: center;
  .footer_nav{
    ul{
      li{
        display: inline;
        margin-right: 15px;
        a{
          color: @footer-link-color;
        }
      }
    }
  }
  address{
    color: @footer-font-color;
  }
}

/* home */
.home{
  #contents{
  /* main blanding */
    .blanding{
      margin-bottom: 30px;
      .slide{
        background-color: #efefef;
        #tm .radius(8px);
        ul{
          li{
            height: 300px;
            display: none;
            a{
              display: block;
              width: 100%;
              height: 100%;
            }
            &:first-child{
              display: block;
            }
          }
        }
      }
    }
  /* content list */
    .content_list{
      width: 100%;
      ul{
        padding: 0 0.5%;
        li{
          width: 32%;
          height: 200px;
          display: block;
          float: left;
          margin-right: 2%;
          background-color: #efefef;
          #tm .radius(8px);
          &:last-child{
            margin-right: 0;
          }
          a{
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

/* single  */
.single{
  #contents{
    width: @single-width;
    .main_content{
    /* sinle content */
      .content{
        float: left;
        width: 480px;
      }
      .code_box{
        float: right;
        width: 465px;
      }

    /* single post navigation */
      .lesson_nav{
        .single_nav{
          ul{
            .prev_post{
              float: left;
            }
            .next_post{
              float: right;
            }
          }
        }
        .list_nav{
          width: 100%;
          margin: 0 auto;
          dl{
            float: left;
            width: 33.33%;
            text-align: center;
            dt{
              background-color: #333;
              border-right: 1px solid #999;
              color: #EEE;
            }
            dd{
              border-bottom: 1px solid #EEE;
              border-right: 1px solid #EEE;
              padding-bottom: 3px;
              margin-bottom: 3px;
            }
            &:last-child{
              dt,dd{
                border-right: none;
              }
            }
          }
        }
      }
    }
  }
}

/* page */
.page{
  #contents{
    height: 100%;
    .main_content{
      width: 80%;
      float: right;
    }
  /* sidebar */
    aside{
      width: 15%;
      float: left;
      color: #EEE;
      background-color: @footer-background-color;
      a{
        color: @aside-link-color;
      }
    }
  }
}