/*
 * style.less
 */

@import "tmlib.less";
@import "reset.less";
@import "variables.less";


/*
 * constant
 */
@page-width: 1100px;


/*  
 * base
 */
* {
  margin: 0px;
  padding: 0px;
  
  #tm .box-sizing(border-box);
}

body {
  margin-top: 60px;
  font-family: "Meiryo", "メイリオ", "ヒラギノ角ゴ Pro W3", sans-serif;
  font-size: @font-size;
  line-height: 1.5em;
  
  a {
    text-decoration: none;
    color: hsl(220, 100%, 50%);
  }
  
  a:visited {
    color: hsl(260, 90%, 50%);
  }
}

#header {
  margin-top: 30px;
}


.hero-unit {
  padding: 30px;
}

.detail-block {
  padding: 5px;
  h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .description {
    min-height: 60px;
  }
  .span4 {
    margin-bottom: 40px;
  }
}



