/*
 * font
 */
@font-face {
  #tm .fontface("ModernPictogramsNormal", "../font/modern-pictograms", "modernpics-webfont");
}


/*
 * constant
 */
@key-color: #fff;
@font-size: 62.5%;

@icon-star: '\2605';  // '★'
@icon-github: '';    // 
@icon-eye-1: '';     //
@icon-download: '📥';
@icon-wrench-2: '🔧';
@icon-pencil-alt-1: '\E903';
@icon-pencil-4: '\E902';
@icon-right-circle: '';
@icon-right-dir-1: '▸';
@icon-folder: '\E952';
@icon-tags: '\E70D';
@icon-calendar-2: '\E879';

@icon-reply: '\E712';
@icon-forward: '\27A6';
@icon-down: '↓';
@icon-down-open-1: '';
@icon-up-open-1: '';
@icon-feather: '✒';
@icon-right-open: '';


/*
 * color
 */
@header-font-color: #666;
@footer-background-color: #333;
@footer-font-color: #EEE;




